body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

header {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
}

.info-juego {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 8px;
}

#podioContainer {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

#listaPodio li {
  font-size: 1em;
  padding: 5px 0;
  border-bottom: 1px dashed #ccc;
}
#listaPodio li:last-child {
  border-bottom: none;
}

#tableroJuego {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 900px;
  perspective: 1000px;
}
.carta {
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenido-carta {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.cara {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.reverso {
  background-color: #ffffff;
}

.anverso {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.cara img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  padding: 5%;
  box-sizing: border-box;
}

.carta.volteada .contenido-carta {
  transform: rotateY(180deg);
}

.carta.emparejada {
  opacity: 0.5;
  pointer-events: none;
}
